$bg-color: hsl(0, 0%, 0%);
$primary:#150050;
$secondary: #3f0071;
$ternary: #8e25c6;
$fourary: #1a1d24;

.App {
  text-align: center;
  background-color: $secondary;
}
h2, h3, h5 {
  color: $ternary !important;
}

.App-header {
  background: linear-gradient(to bottom, black, $secondary);
  background-color: $secondary;
  min-height: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.highlights {
  margin-top: 80px;
  background-color: $fourary;
  border-radius: 20px;
  color: $ternary;
  border: #1a1d24;
  border-width: 10px;
  display: block;
  padding: 10px;
  position: absolute;
  left: 0;
  height: 80vh;
  min-height: 557px;
  background: linear-gradient(to top, black,  rgb(59, 58, 58));
}



.landing {
  z-index: 10;
  text-align: center;
  text-decoration: none;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li {
    color: $ternary !important;
  }

  .image {
    padding: 30px;
    margin: 10px;
    border-radius: 100px;
    z-index: 0;
  }
}

.navigation {
  .header {
    justify-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    h1 {
      color:whitesmoke;
      margin-right: 265px;
      font-size: 40px;
      line-height: 40px;
      text-align: center;
    }
  }
  display: flex;
  background-color: $secondary;

  nav {
  color: white;
  display: flex;

  

  img {
    margin-left: 20px;
    margin-top: 5px;
  }

  ul {
    padding-top: 10px;
    width: 100%;
    list-style-type: none;
    display: flex;
    :hover {
      background-color: $ternary;
    }
    

    li {
      cursor: pointer;
      padding: 5px;
      margin-right: 10px;
      background-color: $primary;
      border-radius: 10px;

      .no-dec {
        text-decoration: none;
        color: $secondary;
      }
    }
  }

}
}

.App-link {
  color: #61dafb;
}

.number {
  padding: 3px;
  font-size: 20px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.team-table {

  .table-width {
    margin-left: 15px !important;
    margin-right: 15px !important;

  }
  color: whitesmoke;
  background-color: $fourary;
  margin: 2px;
  th[role="columnheader"] {
    font-weight: 800;
  }
  td[role="cell"] {
    padding-right: 10px !important;
    padding-left: 10px !important;
  }
  thead {
    background-color: $primary;
  }
  tbody {
    background-color: $primary;

    tr {
      div {
        :hover {
          color: $ternary;
        }
      }
      img {
        cursor: pointer;
      }
    }
  }
}
.table-link {
  text-align: center;
  text-decoration: none;
  color: $ternary;
  font-weight: bolder;
  cursor: pointer;
}

.drawer {
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.player {
 margin-left: 200px;
}

.individual-team {
  .rs-picker {
    position: absolute;
    left: 10px;
    top: 60px;
  }

  .team-data {
    text-align: center;

    h1 {
      
      font-size: 50px;
    }
  }
}


.table-column-2 {
  display: flex;

  table {
    margin: 20px;
  }
}

.overall-header {
  display: flex;
  justify-content: space-between;
  padding: 20px;

  div {
    margin-right: 10px;
    margin-left: 10px;
  }
}

.edit-team {
  color: green;
}